// ID identifying the cluster to create. Use your username so that resources created can be tracked back to you.
cluster_id = "ocp42"

// Domain of the cluster. This should be "${cluster_id}.${base_domain}".
cluster_domain = "ocp42.ocp42.openshift.fr"

// Base domain from which the cluster domain is a subdomain.
base_domain = "ocp42.openshift.fr"

// Name of the vSphere server. The dev cluster is on "vcsa.vmware.devcluster.openshift.com".
vsphere_server = "x.x.x.x"

// User on the vSphere server.
vsphere_user = "administrator@vsphere.local"

// Password of the user on the vSphere server.
vsphere_password = "xxx"

// Name of the vSphere cluster. The dev cluster is "devel".
vsphere_cluster = "xxx"

// Name of the vSphere data center. The dev cluster is "dc1".
vsphere_datacenter = "dc"

// Name of the vSphere data store to use for the VMs. The dev cluster uses "nvme-ds1".
vsphere_datastore = "datastore1"

// Name of the VM template to clone to create VMs for the cluster. The dev cluster has a template named "rhcos-latest".
vm_template = "rhcos-422"

// The machine_cidr where IP addresses will be assigned for cluster nodes.
// Additionally, IPAM will assign IPs based on the network ID. 
machine_cidr = "192.168.0.0/24"

// The number of control plane VMs to create. Default is 3.
control_plane_count = 3

// The number of compute VMs to create. Default is 3.
compute_count = 3

// URL of the bootstrap ignition. This needs to be publicly accessible so that the bootstrap machine can pull the ignition.
bootstrap_ignition_url = "http://x.x.x.x:81/bootstrap.ign"

// Ignition config for the control plane machines. You should copy the contents of the master.ign generated by the installer.
control_plane_ignition = <<END_OF_MASTER_IGNITION
END_OF_MASTER_IGNITION

// Ignition config for the compute machines. You should copy the contents of the worker.ign generated by the installer.
compute_ignition = <<END_OF_WORKER_IGNITION
END_OF_WORKER_IGNITION


// Set ipam and ipam_token if you want to use the IPAM server to reserve IP
// addresses for the VMs.

// Address or hostname of the IPAM server from which to reserve IP addresses for the cluster machines.
//ipam = "139.178.89.254"

// Token to use to authenticate with the IPAM server.
//ipam_token = "TOKEN_FOR_THE_IPAM_SERVER"


// Set bootstrap_ip, control_plane_ip, and compute_ip if you want to use static
// IPs reserved someone else, rather than the IPAM server.

// The IP address to assign to the bootstrap VM.
bootstrap_ip = "192.168.1.3"
bootstrap_mac = "00:50:56:8e:d5:fb"

// The IP addresses to assign to the control plane VMs. The length of this list
// must match the value of control_plane_count.
control_plane_ips = ["192.168.1.20", "192.168.1.21", "192.168.1.22"]
control_plane_macs = ["00:50:56:8e:8e:4f", "00:50:56:8e:15:50", "00:50:56:8e:d0:62"]

// The IP addresses to assign to the compute VMs. The length of this list must
// match the value of compute_count.
compute_ips = ["192.168.1.30", "192.168.1.31", "192.168.1.32"]
compute_macs = ["00:50:56:8e:93:88", "00:50:56:8e:c1:96", "00:50:56:8e:ae:5a"]

//JAAFAR
network="internal"
